:root {
  --white-color: #ffffff;
  --light_grey-color: #f9f9f9;
  --grey-color: #cbcbcb;
  --blue-color: #a5c4ff;
  --dark_blue-color: #040085;
  --gray-secondary-color: #3d3d3d;
  --footer-color: #e8eefa;
  --divider-color: #e0e0e0;
  --border-color: #8E0000;

  --border_input: #CBCBCB;
  --backgrd_input: #F8F8F8;
  --error_input: #A70000;

  // icon base colors
  --green_icon: #00853C;
  --purple_icon: #620085;
  --blue_icon: #045BAD;
  --orange_icon: #852300;
  --dark-cyan_icon: #008578;
  --yellow_icon: #857600;
  
  --light-purple_icon: #AF04C6;
  --light-blue_icon: #0288E7;
  --light-green_icon: #3FCD61;
  --orange_icon: #EB9354;
}